<head>
<link rel="stylesheet" media="screen" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstr
apcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='nav.css') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid bg-primary">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="https://s-ec.bstatic.com/static/img/b26logo/booking_logo_retina/22615963add19ac6b6d715a97c8d477e8b95b7ea.png" width="150"/></a>
      </div>
</div>
</nav>

<div class="container">
	<div class="row well">
		<div class="col-sm-4">
			<img src="https://t-ec.bstatic.com/xdata/images/hotel/square600/31476070.jpg" width="200" class="img-rounded">
		</div>
		<div class="col-sm-8">
			<span style="font-size:20">Congratulations on your booking for:</span><br>
			<span style="font-weight:bold; font-size: 18">Expo Hotel Barcelona</span><br><br>
			<span style="font-size:20">On the following dates:</span><br>
			<span style="font-weight: bold; font-size: 18">29.04.18-01.05.18</span><br><br>
			<span style="font-size: 16">Would you like to meet other travelers at your hotel?</span>
			<div class="row">
				<button type="button" class="btn btn-link" onclick="location.href='profile_page.html';">Yes</button>
				<button type="button" class="btn btn-link">No</button>
				<button type="button" class="btn btn-link">Learn more</button>
			</div>


			
		</div>
		<!-- <div class="col-sm-4"> -->
		<!-- </div> -->
	</div>
	<!-- </div> -->
	<!-- <div class="row"> -->
		<!-- <div class="col-sm-4"> -->
			<!-- You have booked  -->
		<!-- </div> -->
	<!-- </div> -->
</div>